name: codecov

on:
  push:
    branches: [main]
  pull_request:

jobs:
  code_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: ASDF Parse
        uses: kota65535/github-asdf-parse-action@v1.1.0
        id: versions
      - uses: actions/setup-python@v5
        with:
          python-version: "${{ steps.versions.outputs.python }}"
          architecture: x64
      - uses: abatilo/actions-poetry@v3.0.0
        with:
          poetry-version: "${{ steps.versions.outputs.poetry }}"
      - run: poetry install --extras all
      - run: poetry run pytest --cov=netsuite --cov-report=xml --cov-report=term
      - uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
