name: docs
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: ASDF Parse
        uses: kota65535/github-asdf-parse-action@v2.0.0
        id: versions
      - uses: actions/setup-python@v5
        with:
          python-version: "${{ steps.versions.outputs.python }}"
          architecture: x64
      - uses: abatilo/actions-poetry@v4.0.0
        with:
          poetry-version: "${{ steps.versions.outputs.poetry }}"
      - run: poetry install --extras all
      - run: poetry run mkdocs build
      - uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          publish_dir: ./site
