name: docs
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v3
        with:
          python-version: "3.9"
          architecture: x64
      - uses: abatilo/actions-poetry@v2.3.0
        with:
          poetry-version: "1.1.13"
      - run: poetry install --extras all
      - run: poetry run mkdocs build
      - uses: peaceiris/actions-gh-pages@v3.7.3
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          publish_dir: ./site
